<div class="content">
<div class="container-fluid">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">new measurements</h4>
                        <div class="card-title"> 
                            <a routerLink="/addMeasurement">
                            <button  class="btn-1">Add new measurement</button>
                            </a>
                        </div>
                <p class="card-category">Choose Measurement Name</p>
            </div>
            <div class="card-body">
                <p class="demo">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        <span class="form-check-sign">Chest</span>
                    </label>

                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" >
                        <span class="form-check-sign">sleeveElbow</span>
                    </label>
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" >
                        <span class="form-check-sign">Elbow</span>
                    </label>
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        <span class="form-check-sign">wrist</span>
                    </label>

                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        <span class="form-check-sign">Hips</span>
                    </label>
                </p>

                    <div class="card-action">
                        <button data-toggle="modal" data-target="#modalUpdate" class="btn btn-success">SUMBIT FOR APPROVAL</button>                                        
                    </div>
            </div>
        </div>
    </div>

</div>
</div>
<footer class="footer">
    <div class="container-fluid">
        
        <div class="copyright ml-auto">
            2020, <i class="la la-heart heart text-danger"></i> by <a href="http://www.themekita.com">Seltam</a>
        </div>				
    </div>
</footer>