<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Add/Edit Sub-Category</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Sub-Category</div>
                        
                    </div>
                    <div class="card-body">
                        <div class="form">
                            <form (ngSubmit)="addSubCatagory(f)" #f="ngForm">
                            <div class="form-group from-show-notify row">
                                <div class="col-lg-3 col-md-3 col-sm-12 text-right">
                                    <label>Category Name :</label>
                                </div>
                                <div class="col-lg-4 col-md-9 col-sm-12">
                                    <select class="form-control input-fixed" id="notify_placement_from" ngModel  name="catid" #catid>
                                        <option  *ngFor="let cat of myCatagory" value="{{cat.CategoryID}}">{{cat.CategoryNames}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group from-show-notify row">
                                <div class="col-lg-3 col-md-3 col-sm-12 text-right">
                                    <label>Sub-Category :</label>
                                </div>
                                <div class="col-lg-4 col-md-9 col-sm-12">
                                    <input type="text" class="form-control input-square" name="SubcatName" ngModel #uname id="squareInput" placeholder="">
                                </div>
                            </div>

                            <div class="form-group from-show-notify row">
                                <div class="col-lg-3 col-md-3 col-sm-12 text-right">
                                    <label>Status :</label>
                                </div>
                                <div class="col-lg-4 col-md-9 col-sm-12">
                                    <select class="form-control input-fixed"  name="subStatus"  ngModel  #Sname id="notify_state">
                                        <option value="Active">Active</option>
                                        <option value="DeActive">DeActive</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group from-show-notify row">
                                <div class="col-lg-3 col-md-3 col-sm-12 text-right">
                                </div>
                                <div class="col-lg-4 col-md-9 col-sm-12">
                                    <button id="displayNotif" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                        </div>

                    </div>
                    <div class="card-body">
                        <table class="table table-head-bg-success">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">SubCategory</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cat of mySubCatagory">
                                    <td>{{cat.SubCategoryID}}</td>
                                    <td>{{cat.SubCategoryName}}</td>
                                    <td>{{cat.catname}}</td>
                                    <td>{{cat.Active}}</td>
                                    <!-- <td><button id="displayNotif" class="btn btn-success" data-toggle="modal" data-target="#modalUpdate">EDIT</button></td> -->
                                    <td><div class="demo-icon"> <div class="icon-preview"><i class="la la-edit" data-toggle="modal" data-target="#modalUpdate"></i></div> <div class="icon-class"></div> </div></td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>	
                </div>
            </div>
        </div>
    </div>
</div>